<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.mycompany.app.listeners"/>
<listener class-name="com.mycompany.app.ExtentReportsListeners"/>
</listeners>
  <test thread-count="5" name="Test1">
    <classes>
      <class name="com.mycompany.app.HomePage"/>
      </classes>
      </test>
      
      <test thread-count="5" name="Test2">
      <classes>
      <class name="com.mycompany.app.ValidateNavigationBar"/>
      </classes>
      </test>
      
      <test thread-count="5" name="Test3">
      <classes>
      <class name="com.mycompany.app.ValidateTitle"/>
      </classes>
      </test>
       
       <test thread-count="5" name="Test4">
       <classes>
      <class name="com.mycompany.app.AppTest"/>
       </classes>
      </test>
</suite> <!-- Suite -->
